<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="657fd0">  <td>17/10/03 00:15:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;firstTest.setupClass()[pri:0, instance:tests.amazonTest.firstTest@e25b2fe]">&gt;&gt;setupClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@540585569</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>17/10/03 00:15:55</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;firstTest.setupTest()[pri:0, instance:tests.amazonTest.firstTest@e25b2fe]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td>  <td>main@540585569</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>17/10/03 00:15:55</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="firstTest.groupSetup()[pri:0, instance:tests.amazonTest.firstTest@e25b2fe]">groupSetup</td> 
  <td>main@540585569</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>17/10/03 00:16:01</td>   <td>6120</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;firstTest.tearDown()[pri:0, instance:tests.amazonTest.firstTest@e25b2fe]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@540585569</td>   <td></td> </tr>
</table>
